[defaults]
inventory = ansible/inventory/home.yml
roles_path = ansible/roles
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True
inject_facts_as_vars = False
vars_plugins_enabled = host_group_vars,community.sops.sops
