[Unit]
Description=GitHub Actions runner for {{ github_runner_github_owner }}/{{ github_runner_repository }}
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ github_runner_repository_service_user }}
Group={{ github_runner_repository_service_user }}
WorkingDirectory={{ github_runner_repository_install_dir }}
ExecStart={{ github_runner_repository_install_dir }}/bin/runsvc.sh
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min
Restart=always
RestartSec=5
UMask=0027

[Install]
WantedBy=multi-user.target
