#cloud-config
hostname: {{ k3s_node_vm_name }}
disable_root: true
ssh_pwauth: false

users:
  - name: {{ k3s_node_admin_user }}
    groups:
      - sudo
    shell: /bin/bash
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    ssh_authorized_keys:
      - {{ k3s_node_admin_ssh_public_key | to_json }}

package_update: true

packages:
  - ca-certificates
  - python3
  - qemu-guest-agent

runcmd:
  - systemctl enable --now qemu-guest-agent
