global:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  dashboard: false

ping:
  entryPoint: health

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ":443"
    transport:
      respondingTimeouts:
        readTimeout: {{ shared_ingress_nextcloud_read_timeout }}
    http:
      encodedCharacters:
        allowEncodedSlash: true
        allowEncodedQuestionMark: true
        allowEncodedPercent: true
  health:
    address: "{{ shared_ingress_health_address }}:{{ shared_ingress_health_port }}"

providers:
  file:
    directory: /etc/traefik/dynamic
    watch: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: "{{ shared_ingress_acme_email }}"
      storage: /letsencrypt/acme.json
      tlsChallenge: {}

log:
  level: INFO

accessLog:
  format: json
  fields:
    headers:
      defaultMode: drop
